# Miscellaneous
*.DS_Store
*.log
*.swp
.history
.idea/
.vscode/

# Flutter/Dart related
**/whos_got_what/.dart_tool/
**/whos_got_what/.flutter-plugins
**/whos_got_what/.flutter-plugins-dependencies
**/whos_got_what/.pub-cache/
**/whos_got_what/.pub/
**/whos_got_what/build/
**/whos_got_what/ios/Flutter/Generated.xcconfig
**/whos_got_what/macos/Flutter/ephemeral
**/whos_got_what/android/local.properties
**/whos_got_what/android/app/debug
**/whos_got_what/android/app/profile
**/whos_got_what/android/app/release

# Web related
**/whos_got_what_web/node_modules/
**/whos_got_what_web/.next/
**/whos_got_what_web/out/
**/whos_got_what_web/build/
**/whos_got_what_web/.vercel/
**/whos_got_what_web/next-env.d.ts

# Secrets and environment
.env*
**/*.pem
