#include "Flutter/Debug.xcconfig"

GOOGLE_MAPS_API_KEY = AIzaSyDph_HXYCavVGcpHVonsERiB89XPwV0LRc
STRIPE_PUBLISHABLE_KEY = pk_live_51RcvpvJrVLphrJh2TtTow3A2dj7pIh6kxVnll6wwMoc3ghLMGo6r18hIRAU8oiwGFuUNj07j2I0KqqwXEdogD2S10075rvhhPW
SUPABASE_URL = https://nxxjkoiktpfqbslpgfmn.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54eGprb2lrdHBmcWJzbHBnZm1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxMjAxMjMsImV4cCI6MjA4MDY5NjEyM30.AOHTRGSk9TmnZaQrAF51Eje1pcGM1h1zj4kwX_4x6xs
